#ignore mac file unnecessary
.DS_Store

# Keep these local files, but I don't want them on GitHub
model_joblibs/lin_reg_v1.joblib
model_joblibs/log_reg_v1.joblib
model_joblibs/log_reg_v2.joblib
model_joblibs/nn_v1.joblib
model_joblibs/nn_v2.joblib
model_joblibs/nn_v3.joblib
model_joblibs/nn_v4.joblib
model_joblibs/nn_v5.joblib
model_joblibs/nn_v6.joblib
model_joblibs/nn_v7.joblib
model_joblibs/rf_regr_v1.joblib
model_joblibs/rf_regr_v2.joblib
model_joblibs/rf_regr_v3.joblib
model_joblibs/rf_regr_v4.joblib
model_joblibs/ridge_lin_reg_v1.joblib
model_joblibs/ridge_lin_reg_v2.joblib
model_joblibs/ridge_lin_reg_v3.joblib
lc_lin_reg_&_ridge_reg_v1.ipynb
lc_log_reg_v1.ipynb
lc_log_reg_v2.ipynb
lc_nn_reg_v1.ipynb
lc_ridge_reg_v2_v3.ipynb


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
