html {
    font-family: sans-serif;
    background-color: slateblue;
}

body {
    
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border: 5px solid black;
    border-radius: 30px;
    background-color: azure;
}