<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>PeerVest</title>
    <!--both brython.js and brython_stdlib.js files live in the static/ dir-->
    <script type="text/javascript" src="brython.js"></script>
    <script type="text/javascript" src="brython_stdlib.js"></script>
    <img src="img/peervest.png" alt="peervest logo">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  </head>
  <!--adding custom style tag called yellow-->
  
  <body onload="brython()">
    <h1>Investor Preferences</h1>
    <script type="text/python3">
      from browser import document, ajax
      import json
      import warnings
      
      
      def update_min_return_label(ev):
        '''Update Slider Label as user makes changes'''
        min_return_val = document["min_return"].value
        document["min_return_label"].textContent = min_return_val

      def update_max_prob_default_label(ev):
        '''Update Slider Label as user makes changes'''
        max_prob_val = document["max_prob_default"].value
        document["max_prob_default_label"].textContent = max_prob_val
      
      document["min_return"].bind("change", update_min_return_label)
      document["max_prob_default"].bind("change", update_max_prob_default_label)


      def show_results(response):
          """Show HTML page"""
          if response.status==200:
            data=json.loads(response.text)
            document["result"].html = data['html']
            document["download_link"].html = f"""
            <a href="port_downloads/{data['filename']}">Download CSV</a>"""
          else:
              warnings.warn(response.text)


      def get_output(ev):
          """Get output"""
          req = ajax.ajax()
          req.bind("complete", show_results)
          req.open("POST", "/output", True)
          req.set_header("content-type","application/json")
          data = json.dumps({"min_return": document["min_return"].value,
                            "max_prob_default": document["max_prob_default"].value,
                            "avail_funds": document["avail_funds"].value})
          req.send(data)


      document["click_button"].bind("click", get_output)
    </script>
    <label for="min_return">Minimum Desired Annualized Return (1%-15+%)</label>
    <div class="slidecontainer">
        <input type="range" min="1" max="15" step="1" value="5" id="min_return" class="slider"/>
        <span id="min_return_label">5</span><span>%</span>
    </div>

    <br></br>
    <label for="max_prob_default">Maximum Probability of Default (0%-99%)</label>
    <div class="slidecontainer">
        <input type="range" min="1" max="99" step="1" value="50" id="max_prob_default" class="slider"/>
        <span id="max_prob_default_label">50</span><span>%</span>
    </div>

    <br></br>
    <label for="avail_funds">Available Funds to Invest $</label>
    <br></br>
    <textarea id="avail_funds"></textarea>
    <br></br>
    <button id="click_button">Show My Recommended Loan Pool</button>
    <br></br>
    <h1>Portfolio Summary & Recommended Loans </h1>
    <div id="download_link"></div>
    <!--try replacing yellow with div to remove the yellow styling-->
    <div id="result"></div>
    <dl>
      <dt>Next Steps:</dt>
      <dd>- Use Loan IDs in the downloaded CSV to guide your investments on LendingClub.com!</dd>
      <dt>Optimal Diversification:</dt>
      <dd>- There are often less than 100 available investments at any given time on LendingClub.com, though an optimized loan portfolio should contain at least 100 different loans to adequately reduce lack of diversification risk</dd>
      <dt>Shrop Ratio:</dt>
      <dd>- Similar to the more popular Sharpe Ratio, the Shrop Ratio uses my Probability of Default Neural Network in the denominator instead of the Sharpe Ratio's typical denominator, historical standard deviation. This figure is simply used to compare loans side-by-side on a risk-adjusted return basis. The higher the number, the better the investment according to my models.</dd>
    </dl>
  </body>
</html>