html {
    font-family: sans-serif;
    background-color: #ddcde9;
}

title {
    text-align: middle;
}

body {
    margin: 1;
}

h1 {
    text-align: middle;
}

label {

}

textarea {

}

button {

}

.download_link {

}

.result {

}